<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SQLite_Default" connectionString="Data Source=.\Database\Organizador_PEC_6_60.db;Version=3" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="SyncfusionLicense" value="Copy license here" />
    </appSettings>
</configuration>